/*
Theme Name: ArdantSlate
Theme URI: http://ardant.co.uk
Author: Ardant
Author URI: http://ardant.co.uk/
Description: Ardantslate, built on Tidytheme's Blankslate template.
Version: 2.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Text Domain: ardantslate
ArdantSlate is distributed under the terms of the GNU GPL
*/
.post-edit-link {
	display:none;	
}

html {
	font-size: 10px;	
	font-family: raleway, sans-serif;
}

body {
	background: no-repeat center top fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
}

#header {
	background:rgb(0,3,41);
	background: rgba(0,3,41,0.85);
	padding-top: 1rem
}

#header h1 {
	margin: 0;
}

#header img {
	margin: auto;
	display:block;	
	padding-bottom: 1rem;
}

.ratm {
	cursor: default !important;	
}

p, .entry-content li {
	font-size: 1.6rem;
	line-height: 1.5;
}

.entry-title {
	font-size: 3rem;
    margin: 0;
    font-weight: normal;	
}

.home-title {
	color: black;
	margin-top:3rem;	
}

.pad-title {
	margin-top: -7rem;
    padding-bottom: 5rem;
    color: white;
    text-shadow: 0 2px 2px black;
}

.aboutcontent {
	xbackground:rgb(0,3,41);
	xbackground:rgba(0,3,41,0.85);
	padding: 4rem;
	margin-top:2rem;
}

.portfoliocontent {
	margin-top:4rem;	
	padding-bottom: 4rem;
}

.alignnone, alignleft, alignright {
	max-width: 100%;	
	height: auto !important;
	border: 1px solid #666;
	padding: 3px;
	background: white;
}

.alignnone {
	display:block;
	margin: 3rem auto;	
}

.alignright {
	float: right;
	margin: 0 0 2rem 2rem;	
}

.alignleft {
	float: left;
	margin: 0 2rem 2rem 0rem;	
}

.fullimg {
	height: 100vh;
	background: no-repeat center top fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.homeimg {
	height: 100vh;	
	background: no-repeat center fixed;
}

.property-gallery {
	margin-top: 4rem;	
	line-height:0;
	font-size: 0;
	padding-bottom: 4rem;
}

.property-gallery img {
	width: 33.333%;	
	padding: 0px 1px 1px 0;
}

.property-text {
	padding-bottom: 4rem;		
}

#footer {
	background:rgb(0,3,41);		
	color: white;
	font-size: 1.2rem;
	text-align:center;
	position:fixed;
	bottom: 0;
	left:0;
	right:0;
	padding: 0.5rem 0;
}

.home-content {
	color: black;	
}

.pad-bottom {
	padding-bottom: 4rem;	
}